
<h1>Listing entries</h1>


<%= link_to '创建', new_entry_path %>

<table>
  <tr>
    <th>Id</th>
    <th>Name</th>
  </tr>

  <% @entries.each do |entry| %>
      <tr>
        <td><%= entry.id %></td>
        <td><%= entry.name %></td>
        <td><%= link_to 'Show', entry_path(entry) %></td>
        <td><%= link_to 'Edit', edit_entry_path(entry) %></td>
        <td><%= link_to 'Destroy', entry_path(entry),
                        method: :delete,
                        data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
</table>