
<h1>Listing entries</h1>


<%= link_to '创建', new_place_path %>

<table>
  <tr>
    <th>Id</th>
    <th>Name</th>
  </tr>

  <% @places.each do |place| %>
      <tr>
        <td><%= place.id %></td>
        <td><%= place.name %></td>
        <td><%= link_to 'Show', place_path(place) %></td>
        <td><%= link_to 'Edit', edit_place_path(place) %></td>
        <td><%= link_to 'Destroy', place_path(place),
                        method: :delete,
                        data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
</table>